<header>
  <div>
    <a href="/">Home</a>
    <a href="/jackets">Jackets</a>
    <a href="/shirts">Shirts</a>
    <a href="/accessories">Accessories</a>
    <a href="/brands">Brands</a>
  </div>
</header>